.titleAndLogo {
  display: flex;
  width: 35vw;
  height: auto;
  padding-left: 5vw;
  justify-content: center;

}

.colCentered {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}